<!-- -->

<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width" />
        <meta name="generator" content={Astro.generator} />
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.7/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-LN+7fdVzj6u52u30Kp6M/trliBMCMKTyK833zpbD+pXdCLuTusPj697FH4R/5mcr" crossorigin="anonymous">
        <title>Document</title>
    </head>
    <body>
    <div class="container-fluid p-5 " style="background-color: #0a3266;" >
        <div class="row mx-5">
            <div class="col-sm-5 col-md-6 p-5">
            <div>
                <h1>Get more done with whitespace.</h1>
                <p>
                    Project management software that enables your teams to collaborate, plan, analyze and manage everyday tasks..
                </p>
                <button type="button" class="btn btn-primary">Try whitespace for free -></button>
        </div>
        </div>
                <div class="col-sm-5 col-md-6 p-5">
                    <div style="width: 90%; height: 350px; background-color: #cfe2ff; border-radius: 8px;"> </div>
                </div>
                
            
            
        </div>
    </div>

<div class="container-fluid p-5" style="background-color: white;">
        <div class="row mx-5">
            <div class="col-sm-5 col-md-6 p-5">
            <div>
                <h1 style="color:black">Project Management.</h1>
                <p style="color: black;">
                    Project management software that enables your teams to collaborate, plan, analyze and manage everyday tasks.
                </p>
                <button type="button" class="btn btn-primary">Get started</button>
        </div>
        </div>
                <div class="col-sm-5 col-md-6 p-5">
                    <div style="width: 90%; height: 350px; background-color: #cfe2ff; border-radius: 8px;"> </div>
                </div>
                
            
            
        </div>
    </div>

    <div class="container-fluid p-5" style="background-color: white;">
        <div class="row mx-5">
            <div class="col-sm-5 col-md-6 p-5">
            <div>
                <img src="C:\Users\Omar\development\bootsrap-dev\repo\site\src\components\custom\Screenshot 2025-08-02 140040.png" alt="">
        </div>
        </div>
                <div class="col-sm-5 col-md-6 p-5">
                    <h1 style="color: black;">Work together.</h1>
                <p style="color: black;">
                    With whitepace, share your notes with your colleagues and collaborate on them.
You can also publish a note to the internet and share the URL with others.

                </p>
                <button type="button" class="btn btn-primary">Try it now.</button>
                </div>
                
            
            
        </div>
    </div>

         <!-- This part foward is the part that perplexity made that I used as reference-->
          <!-- 
<div class="container-fluid min-vh-100 d-flex align-items-center" style="background-color: #0a3266;">
  <div class="row w-100">
    
    <div class="col-12 col-md-6 d-flex flex-column justify-content-center align-items-start text-white p-5">
      <h1 class="fw-bold mb-3">Get More Done with <br> whitepace</h1>
      <p class="mb-4">
        Project management software that enables your teams to collaborate, plan, analyze and manage everyday tasks
      </p>
      <a href="#" class="btn btn-primary">Try Whitespace free &rarr;</a>
    </div>
    
    <div class="col-12 col-md-6 d-flex justify-content-center align-items-center">
      <div style="width: 90%; height: 350px; background-color: #cfe2ff; border-radius: 8px;"></div>
    </div>
  </div>
</div>
-->
            

    </body>
</html>