<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.7/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-LN+7fdVzj6u52u30Kp6M/trliBMCMKTyK833zpbD+pXdCLuTusPj697FH4R/5mcr"
      crossorigin="anonymous"
    />
    <link href="../src/components/custom/classes.css" rel="stylesheet" />
    <title>Document</title>
  </head>
  <body>
    <div class="container-fluid p-5 background_blue">
      <div class="row mx-5">
        <div class="col-sm-5 col-md-6 p-5">
          <div>
            <h1>Get more done with whitespace.</h1>
            <p>
              Project management software that enables your teams to collaborate, plan, analyze and manage everyday
              tasks..
            </p>
            <button type="button" class="btn btn-primary">Try whitespace for free -></button>
          </div>
        </div>
        <div class="col-sm-5 col-md-6 p-5">
          <div class="blue_rectangle"></div>
        </div>
      </div>
    </div>

    <div class="container-fluid p-5 background_white">
      <div class="row mx-5">
        <div class="col-sm-5 col-md-6 p-5">
          <div>
            <h1 style="color:black">Project Management.</h1>
            <p style="color: black;">
              Project management software that enables your teams to collaborate, plan, analyze and manage everyday
              tasks.
            </p>
            <button type="button" class="btn btn-primary">Get started</button>
          </div>
        </div>
        <div class="col-sm-5 col-md-6 p-5">
          <div class="blue_rectangle"></div>
        </div>
      </div>
    </div>

    <div class="container-fluid p-5 background_white">
      <div class="row mx-5">
        <div class="col-sm-5 col-md-6 p-5">
          <div>
            <img src="../src/components/custom/Screenshot 2025-08-02 140040.png" alt="" />
          </div>
        </div>
        <div class="col-sm-5 col-md-6 p-5">
          <h1 style="color: black;">Work together.</h1>
          <p style="color: black;">
            With whitepace, share your notes with your colleagues and collaborate on them. You can also publish a note
            to the internet and share the URL with others.
          </p>
          <button type="button" class="btn btn-primary">Try it now.</button>
        </div>
      </div>
    </div>

    <div class="container-fluid p-5 background_blue">
      <div class="row mx-5">
        <div class="col-sm-5 col-md-6 p-5">
          <div>
            <h1>Use as extension.</h1>
            <p>
              Use the web clipper extension, available on Chrome and Firefox, to save web pages or take screenshots as
              notes.
            </p>
            <button type="button" class="btn btn-primary"> Let's Go -></button>
          </div>
        </div>
        <div class="col-sm-5 col-md-6 p-5">
          <div class="blue_rectangle"></div>
        </div>
      </div>
    </div>

    <div class="container-fluid p-5 background_white">
      <div class="row mx-5">
        <div class="col-sm-5 col-md-6 p-5">
          <div class="blue_rectangle"></div>
        </div>
        <div class="col-sm-5 col-md-6 p-5">
          <div>
            <h1 style="color:black">Customise it to your needs.</h1>
            <p style="color: black;">
              Customise the app with plugins, custom themes and multiple text editors (Rich Text or Markdown). Or create
              your own scripts and plugins using the Extension API.
            </p>
            <button type="button" class="btn btn-primary">Let's go -></button>
          </div>
        </div>
      </div>
    </div>

    <div class="container-fluid background_white">
      <h2 class="text-center">Choose Your Plan</h2>
      <p class="text-center">
        Whether you want to get organized, keep your personal life on track, or boost workplace productivity, Evernote
        has the right plan for you.
      </p>

      <div class="row justify-content-center">
        <div class="col-md-4">
          <div class="card mb-3" style="width: 18rem;">
            <div class="card-body">
              <h5 class="card-title">Free</h5>
              <p class="card-text">$0</p>
              <p class="card-text">Capture ideas and find them quickly</p>
              <ul>
                <li>Sync unlimited devices</li>
                <li>10 GB monthly uploads</li>
                <li>200 MB max. note size</li>
                <li>Customize Home dashboard and access extra widgets</li>
                <li>Connect primary Google Calendar account</li>
                <li>Add due dates, reminders, and notifications to your tasks</li>
              </ul>
              <a href="#" class="btn btn-primary">Get started</a>
            </div>
          </div>
        </div>

        <div class="col-md-4">
          <div class="card mb-3" style="width: 18rem;">
            <div class="card-body">
              <h5 class="card-title">Personal</h5>
              <p class="card-text">$11.99</p>
              <p class="card-text">Keep home and family on track</p>
              <ul>
                <li>Sync unlimited devices</li>
                <li>10 GB monthly uploads</li>
                <li>200 MB max. note size</li>
                <li>Customize Home dashboard and access extra widgets</li>
                <li>Connect primary Google Calendar account</li>
                <li>Add due dates, reminders, and notifications to your tasks</li>
              </ul>
              <a href="#" class="btn btn-primary">Go somewhere</a>
            </div>
          </div>
        </div>

        <div class="col-md-4">
          <div class="card mb-3" style="width: 18rem;">
            <div class="card-body">
              <h5 class="card-title">Organization</h5>
              <p class="card-text">$49.99</p>
              <ul>
                <li>Sync unlimited devices</li>
                <li>10 GB monthly uploads</li>
                <li>200 MB max. note size</li>
                <li>Customize Home dashboard and access extra widgets</li>
                <li>Connect primary Google Calendar account</li>
                <li>Add due dates, reminders, and notifications to your tasks</li>
              </ul>
              <a href="#" class="btn btn-primary">Go somewhere</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
