<!-- -->

<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width" />
        <meta name="generator" content={Astro.generator} />
        <title>Document</title>
    </head>
    <body>
    <div class="container-fluid " style="background-color: darkblue;">
        <div class="row">
            <div class="col-sm-5 col-md-6">
            <div>
                <h1>Get more done with whitespace.</h1>
                <p>
                    Project management software that enables your teams to collaborate, plan, analyze and manage everyday tasks.
                </p>
                <button type="button" class="btn btn-primary">Base class</button>
        </div>
        </div>
                <div class="col-sm-5 offset-sm-2 col-md-6 offset-md-0">
                    <div style="width: 90%; height: 350px; background-color: #cfe2ff; border-radius: 8px;"> </div>
                </div>
                
            
            
        </div>          
    </div>



         <!-- This part foward is the part that perplexity made that I used as reference-->
          <!-- 
<div class="container-fluid min-vh-100 d-flex align-items-center" style="background-color: #0a3266;">
  <div class="row w-100">
    
    <div class="col-12 col-md-6 d-flex flex-column justify-content-center align-items-start text-white p-5">
      <h1 class="fw-bold mb-3">Get More Done with <br> whitepace</h1>
      <p class="mb-4">
        Project management software that enables your teams to collaborate, plan, analyze and manage everyday tasks
      </p>
      <a href="#" class="btn btn-primary">Try Whitespace free &rarr;</a>
    </div>
    
    <div class="col-12 col-md-6 d-flex justify-content-center align-items-center">
      <div style="width: 90%; height: 350px; background-color: #cfe2ff; border-radius: 8px;"></div>
    </div>
  </div>
</div>
-->
            

    </body>
</html>